
<div class="container-fluid">

  <button type="button" class="btn btn-primary float-end mb-5  "
          data-bs-toggle="modal" data-bs-target="#exampleModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
    </svg>
  </button>

  <div style="display: none ; width: 90%; float: inline-start"
       id="alert"
       class="mb-4 p-3 alert "
       [ngClass]=" status.includes('error') ? ' alert-danger' : 'alert-success'"
       role="alert"
  >
    {{this.status}}
  </div>


    <div class="container mt-5">

      <table class="table table-bordered table-hover">

        <thead>
        <tr>
          <th>#</th>
          <th>Project</th>
          <th>Created At</th>
          <th>Created By</th>
        </tr>
        </thead>

        <tbody>

          @for (project of projects; track project.id) {

            <!-- ===== Ligne Project ===== -->
            <tr class="table-active align-middle">
              <td>{{ project.id }}</td>
              <td class="fw-bold">{{ project.projectName }}</td>
              <td>{{ project.createdAt | date:'short' }}</td>
              <td>{{ project.user?.username }}</td>
            </tr>

            <!-- ===== Mini tableau des Entities ===== -->
            <tr>
              <td colspan="4" class="bg-light p-3">

                @if (project.entitys?.length > 0) {

                  <table class="table table-sm table-bordered mb-0">
                    <thead class="table-secondary">
                    <tr>
                      <th style="width: 80px">#</th>
                      <th>Entity Name</th>
                      <th scope="col" [colSpan]="2">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                      @for (entity of project.entitys; track entity.id) {
                        <tr>
                          <td>{{ entity.id }}</td>
                          <td>{{ entity.entityName }}</td>


                          <td >
                            <button class=" action rounded-3 p-1 btn btn-outline-success " (click)="showModal(entity)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              <svg  xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                              </svg> </button>
                          </td>
                          <td>
                            <button class=" action rounded-3 p-1 btn btn-outline-danger" (click)="delete(entity.id)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                              </svg> </button>


                          </td>

                        </tr>
                      }
                    </tbody>
                  </table>
                } @else {

                  <div class="text-muted fst-italic">
                    No entities for this project
                  </div>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{isEdit? 'Edit Project' : 'New Project'}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="ressetForm()"></button>
        </div>

        <form [formGroup]="entityForm" method="POST">
          <div class="modal-body">
            <div class="mb-3">
              <label for="project-name" class="col-form-label">Entitys Name:</label>
              <input type="text" formControlName="name" class="form-control rounded-4" id="project-name" name="project_name" required>
            </div>

            <div class="mb-3">
              <label for="project-name" class="col-form-label">Project:</label>
              <select formControlName="project" class="form-select form-select-sm rounded-4">
                <option [ngValue]="null">Select a project</option>
                @for (elmt of projects; track elmt.id) {
                  <option [ngValue]="elmt.id">
                    {{ elmt.projectName }}
                  </option>
                }
              </select>

            </div>

            <button type="button" class=" m-2 btn btn-outline-secondary" data-bs-dismiss="modal" (click)="ressetForm()">Cancel</button>
            <button id="save" type="button" (click)="isEdit? update() : save() " class=" m-2 btn btn-outline-primary" data-bs-dismiss="modal">
              {{isEdit? 'Update' : 'Save'}}</button>
          </div>


        </form>
      </div>
    </div>
  </div>


</div>
